.h{
	font-size: 28px;
	font-family: monospace;
	text-align: center;
}
h1{
	font-size: 30px;
	color: white;
	font-family: monospace;
	text-align: center;

}
#from {
	color: red;
}
#to {
	color: green;
}
#input {
	color: blue;
}
.submit{
	background-color: grey;
	width: 120px;
	height: 35px;
	border: 0px;
	color: white;
}
#nalla{
	font-family: monospace;
	font-style: italic;
	color: white;
	text-align: center;
	font-size: 80px;
}
body {
	background-image: url("globe_sculpture_architecture_113722_1920x1080.jpg");
}
