.h{
	font-size: 28px;
	font-family: monospace;
	text-align: center;
}
h1{
	font-size: 30px;
	font-family: monospace;
	text-align: center;

}

.submit{
	background-color: black;
	width: 120px;
	height: 35px;
	border: 0px;
	color: white;
}
#nalla{
	font-family: monospace;
	font-style: italic;
	color: red;
	text-align: center;
	color: black;
	font-size: 37px;
}
