.h{
	font-size: 28px;
	font-family: monospace;
	text-align: center;
}
h1{
	font-size: 30px;
	color: white;
	font-family: monospace;
	text-align: center;

}
#from {
	height: 35px;
	width: 6%;
	color: red;
	border-radius: 15px;
	text-align: center;
	font-size: 25px;
}
#to {
	height: 35px;
	width: 6%;
	color: green;
	border-radius: 12px;
	text-align: center;
	font-size: 25px;
}
#input {
	color: blue;
	width: 500px;
	height: 40px;
	border: 2px;
	border-radius: 15px 50px;
	text-align: center;
	font-size: 25px;
}
.submit{
	background-color: black;
	width: 170px;
	height: 40px;
	border: 2px;
	color: white;
	font-size: 25px;

}
#nalla{
	font-family: monospace;
	font-style: italic;
	color: white;
	text-align: center;
	font-size: 80px;
}
body {
	background-image: url("globe_sculpture_architecture_113722_1920x1080.jpg");
}
